# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environmental variables
.env

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# OS-specific files
*.swp
*.swo
